button {
    width: 250px;
    height: 60px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    margin: 5px;
    cursor: pointer;
    border-radius: 1.3rem;
    background-color: green;
    font-size: 1.5rem;
    transition: all .2s ease-in-out;
}

button:hover {
    background-color: rgb(5, 148, 5);
}

.botonClick {
    background-color: #002ead;
}

.botonReiniciar {
    background-color: #5a01a7;
}