* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: goldenrod;

}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 5px;
}

.logo-contenedor {
  height: 180px;

}

.componente-principal {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}